                                             /*BACKGROUND COLOR */
.has-tomato-background-color{
    background-color: #FF6347
}

.has-purple-background-color{
background-color: #6128A1;
}

.has-green-background-color{
background-color: #008000;
}

.has-orange-background-color{
  background-color: #FF4500;
}
                                                 /* COLOR */
.has-tomato-color{
    color: #FF6347
}

.has-purple-color{
    color: #6128A1;
}

.has-green-color{
    color: #008000;
}

.has-orange-color{
    color: #FF4500;
}